<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<center>
    <h1>Use Jupyter Notebook, Tool for Data Science</h1>
</center>

### In this notebook, Data Science Tools and Ecosystem are summarized.

- List popular languages and libraries for Data Science : Python, R, SQL
- Introduction about Data Science tools

#### List data science languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. C/C++
8. JavaScript

#### 5 . List data science libraries
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib
6. Keras
7. SciKit-Learn
8. PyTorch
9. Scrapy

##### A table of Data Science tools

| Name of Tool | Category | Type |
|-------------|----------|------|
|MySQL, MongoDB | Data Management | Open Source |
|Dust, Hue, Kibana| Data Visualization | Open Source |
|Oracle Database, Microsoft SQL Server, and IBM| Data Management | Commercial |

##### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# Arithmetic operations
code = compile("5 + 4", "<string>", "eval")
eval(code)
# Result: 9

9

In [3]:
code1 = compile("(5 + 10) * 2", "<string>", "eval")
eval(code1)
# Result: 24

30

In [4]:
#8.Create a code cell to multiply and add numbers

(5*6)+5
# Result: 35

35

In [18]:
# 9 - Create a code cell to convert minutes to hours

hours = 0
mins = 0


# convert 300 minutes to hours
time = 355

hours = time // 60
mins = time - (hours*60)
print(str(time) + " mins convert to " + str(hours) + " hours, " + str(mins) +  " mins. ")

355 mins convert to 5 hours, 55 mins.

#### 11. cell to list Objectives
##### Overview languages for Data Science
**Objectives**
- Python
- R
- SQL

### Author:
Vu Long